<mat-card class="example-card" style="background-color: #ddd;">

  <img *ngIf="note.linkToPic" mat-card-image src="{{ note.linkToPic }}" alt="Photo">

  <mat-card-title *ngIf="note.title">
    {{ note.title }}
  </mat-card-title>

  <mat-card-content>
    {{ note.text }}
  </mat-card-content>

  <mat-card-content *ngIf="note.tags">
      <mat-chip-list>
          <mat-chip *ngFor="let tag of note.tags" color="primary" selected>#{{ tag }}</mat-chip>
      </mat-chip-list>
  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-icon-button (click)="addToFavorites(note)" title="Add to favorites">
      <mat-icon>{{ icon }}</mat-icon>
    </button>

    <button mat-icon-button title="Share">
      <mat-icon>share</mat-icon>
    </button>

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
      <mat-menu #menu="matMenu">
          <button mat-menu-item title="Edit note">
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
          </button>
          <button mat-menu-item disabled>
            <mat-icon>print</mat-icon>
            <span>Print</span>
          </button>
          <button mat-menu-item title="Delete note" (click)="openDeleteDialog()">
            <mat-icon color="warn">delete</mat-icon>
            <span style="color: red;">Delete</span>
          </button>
      </mat-menu>
  </mat-card-actions>
</mat-card>
