<mat-card class="example-card" style="background-color: white;">
  <img mat-card-image src="{{ note.linkToPic }}" alt="Photo">
  <mat-card-title>{{ note.title }}</mat-card-title>
  <mat-card-content>
    <p>
      {{ note.text }}
    </p>
  </mat-card-content>

  <mat-card-content>
      <mat-chip-list>
          <mat-chip>#Papadum</mat-chip>
          <mat-chip selected>#Naan</mat-chip>
          <mat-chip color="primary" selected>#Dal</mat-chip>
          <mat-chip color="accent" selected>#Ole</mat-chip>
      </mat-chip-list>
  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-icon-button (click)="addToFav($event, note)" title="Add to favorites">
      <mat-icon>{{ icon }}</mat-icon>
    </button>

    <button mat-icon-button title="Share">
      <mat-icon>share</mat-icon>
    </button>

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
      <mat-menu #menu="matMenu">
          <button mat-menu-item title="Edit note">
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
          </button>
          <button mat-menu-item disabled>
            <mat-icon>print</mat-icon>
            <span>Print</span>
          </button>
          <button mat-menu-item title="Delete note">
            <mat-icon color="warn">delete</mat-icon>
            <span style="color: red;">Delete</span>
          </button>
      </mat-menu>
  </mat-card-actions>
</mat-card>
