<!-- <h1 mat-dialog-title>Hi {{ id }}</h1> -->
<!-- <div mat-dialog-content> -->
  <!-- <p>What's your favorite animal?</p> -->
  <!-- <mat-form-field>
    <input matInput [(ngModel)]="note">
  </mat-form-field> -->
<!-- </div> -->
<!-- <div mat-dialog-actions> -->
  <!-- <button mat-button (click)="onNoClick()">No Thanks</button> -->
  <!-- <button mat-button [mat-dialog-close]="note" cdkFocusInitial>Ok</button> -->
<!-- </div> -->


<!-- Copyright 2019 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->


<h2 mat-dialog-title>Delete all</h2>
<mat-dialog-content>Are you sure?</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>No</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-button [mat-dialog-close]="true">Yes</button>
</mat-dialog-actions>
